.home{
    width:100%;
    height:400px;
    background-image: url('https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    .search{
        position: relative;
        top:45%;
        left:25%;
        input{
            width:50%;
            height:40px;
            border:none;
            padding:10px;
        }
        .buttonIcon{
            width:50px;
            height:40px;
            border:none;
            padding:0px;
            margin:0px;
            background-color: white;
    
        }
    }
}
