.dashboard{
    width:100%;
    height:100%;
    background-color: black;
    .contentbody{
        width: 40%;
        margin-left: 30%;
        text-align: center;
        border-bottom: 1px solid white;
    }
    .dashboardheader{
        color:chocolate;
        font-size: 40px;
        text-orientation: mixed;
        
    }
    .content{
        color:white;
        font-size: 25px;
       
    }
    .descriptionbody{
        width: 40%;
        margin-left: 30%;
        text-align: center;
    }
    .desc{
        color:white;
        font-size: 20px;
        font-weight: 100;
        padding: 40px;
    }
    .descrption{
        color:white;
        font-weight: 100;
        font-size: 20px;
        padding:20px;
    }
    .dashboardBtn{
        width:100%;
        height:20px;
    }
}